<div class="center jumbotron">
  <h1>Stephen Talbot</h1>
  <h2>Curriculum Vitae</h2>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <section>
      <p class="lead">
        <strong>
          As an enthusiastic developer with 3 years industry experience I am
          seeking the opportunity to work as part of a team on the cutting edge
          of technology. I strive to produce clean code with effective
          documentation, delivering products which are maintainable, expandable
          and above all else, perform.
        </strong>
      </p>
    </section>

    <section>
      <h3>Technical Skills</h3>
      <ul>
        <li>Java - my core OO language</li>
        <li>HTML 5 and CSS3 - endeavouring to separate style from content</li>
        <li>
          Javascript - understanding of best practises and the new ES6
          standards, as well as many popular libraries
        </li>
        <li>SQL - capable of reading and writing complex queries using ANSI standards</li>
        <li>Version control with Git and CVS</li>
      </ul>
      <p>
        Beyond those listed above I have some experience with PL/SQL, Groovy
        and C#. More recently in my spare time I have been learning the Ruby-on-rails web
        framework, deploying to Heroku and I have also tried my hand at some Anguar2 using Typescript.
      </p>
    </section>

    <section>
      <h3><span class="glyphicon glyphicon-briefcase"><span> Work</h3>
      <section>
        <h4>Equiniti Pancredit</h4>
        <p class="period-of-time"><time datetime="2014-08-01">Aug 2014</time> - <time>Present</time></p>
        <p>
          The majority of the work I do is 'full stack' web development touching on all
          stages of the system from database changes right up to client-side
          scripts. I have worked on a wide range of projects with a varierty of
          technologies:
        </p>
        <ul>
          <li>
            Web development using <abbr title="Model view controller">MVC</abbr>
            frameworks including Struts and Tapestry
          </li>
          <li>
            Development of proprietary <abbr title="Application programming interface">API</abbr>s
            as well as integrating into third parties using both
            <abbr title="Representational state transfer">REST</abbr> architecture
            and <abbr title="Simple Object Access Protocol">SOAP</abbr> protocol
          </li>
          <li>Writing batch jobs for mass data input, daily updates etc</li>
          <li>Continuous integration and testing using Jenkins and Bamboo</li>
        </ul>
        <p>
          I was the primary developer involved in the conversion and relaunch of
          Pancredit's <a href="https://equiniti.com/news-and-views/news-releases/equiniti-pancredit-launches-broker-client/">Broker Client application</a>
          for which we received fantastic client feedback; the project continues
          to grow.</p>
      </section>

      <section>
        <h4>University of Oxford, Somerville College</h4>
        <p class="period-of-time"><time datetime="2012-08-01">Aug 2012</time> - <time datetime="2013-08-31">Aug 2013</time></p>
        <p>
          For my third year university work placement I fulfilled the role of IT
          Support Assistant. As part of a very small team it was my job to assist
          the IT manager in the running and day-to-day operation of the college
          computing systems. Responsibilities included:
        </p>
        <ul>
          <li>
            Network administration including remote updates and
            <abbr title="Operating system">OS</abbr> deployments
          </li>
          <li>Front line IT support for admin, academic staff and students</li>
          <li>
            Server management and fault analysis both physical and through
            virtual machines
          </li>
          <li>Audio/visual support for conferencing and events</li>
        </ul>
      </section>
    </section>

    <section>
      <h3><span class="glyphicon glyphicon-education"><span> Education</h3>
      <section>
        <h4>Leeds Metropolitan University</h4>
        <p class="period-of-time"><time datetime="2010-09-01">Sept 2010</time> - <time datetime="2014-05-31">May 2014</time></p>
        <h5>BSc (Hons) Computing</h5>
        <p>
          I graduated with first class honours taking software development as my
          core module. My other final year modules were as follows:
        </p>
        <ul>
          <li>Advanced Database Management</li>
          <li><abbr title="Artificial intelligence">AI</abbr> in Business</li>
          <li>Open Source System Essentials (Red Hat Linux)</li>
        </ul>
        <p>
          For my dissertation project I created a door access
          control system, this held a databases of doors, users and their
          permissions. Ultimately authentication into the system via swipe card
          unlocked a physical electromagnetic lock.
        </p>
      </section>

      <section>
          <h4>Stockton Sixth Form College</h4>
          <p class="period-of-time"><time datetime="2009-09-01">Sept 2008</time> - <time datetime="2010-06-31">June 2010</time></p>
        <p>Undertook four A-levels, attaining Cs in all courses:
        <ul>
          <li>Computing</li>
          <li>Business Studies</li>
          <li>Geography</li>
          <li>Media Studies</li>
        </ul>
      </section>
    </section>

    <section>
      <h3>Other Qualifications</h3>
      <ul>
        <li>Full clean driving licence</li>
        <li>Level 3 award in outdoor first aid</li>
      </ul>
    </section>

    <section>
      <h3>Interests</h3>
      <p>
        I am an outdoor enthusiast. I enjoy kayaking, cycling and climbing. In
        my final year of university I served as chairman of the Canoe and Kayak
        Club and currently I am a member of Leeds Canoe Club. I also enjoy home
        brewing and cooking.
      </p>
    </section>
  </div>
</div>
