@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

footer {
  height: 40px;
  background-color: #eeeeee;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.period-of-time {
    font-weight: lighter;
}

h4 {
  display: inline-block;
}
